html, body {
    margin: 0;
    padding: 0;
    color: #111;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

.pp__head,
.pp__content {
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
}

.pp__head h1 {
    text-align: center;
}

.pp__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
    .pp__item {
        width: 50%;
        padding: 20px;
    }
    .pp__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #111;
    }

    .pp__img {
        position: relative;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    }
        .pp__img img {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    .pp__item h2 {
        text-align: center;
        margin: 1rem 0 .5rem 0;
    }
    .pp__item p {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }